<div class="mesgs">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px',fullScreenBackdrop: false	 }"></ngx-loading>
  <div>
    <button *ngIf='activeChat.status=="active"' type="button" class="btn btn-danger pull-right" (click)="endChat(activeChat)">End Chat</button>
    <button *ngIf='activeChat.status!=="active"' disabled type="button" class="btn btn-danger pull-right" (click)="endChat(activeChat)">End Chat</button>
  </div>
  <div class="clearfix"></div>
  <div class="msg_history">
    <div *ngFor="let msg of messages | async">
    <div class="incoming_msg" *ngIf='msg.type ==="visitor"'>
      <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
      <div class="received_msg">
        <div class="received_withd_msg">
          <p>{{msg.message.text}}</p>
          <span class="time_date"> {{msg.createdDate | date:"h:mma"}} | {{msg.createdDate | date:"MMM d"}}</span></div>
      </div>
    </div>
    <div class="outgoing_msg" *ngIf='msg.type ==="agent"'>
      <div class="sent_msg">
        <p>{{msg.message.text}}</p>
        <span class="time_date"> {{msg.createdDate | date:"h:mma"}} | {{msg.createdDate | date:"MMM d"}}</span> </div>
    </div>
    <div class="system_msg" *ngIf='msg.type ==="system"'>
        <div class="received_msg">
          <p>{{msg.message.text}}</p>
          <span class="time_date"> {{msg.createdDate | date:"h:mma"}} | {{msg.createdDate | date:"MMM d"}}</span> </div>
      </div>
  </div> 
</div> 
<!-- Input box -->
  <div class="type_msg">
    <div class="input_msg_write">
      <input type="text" class="write_msg" (keyup.enter)="sendMessage(chatMessage)" name="chatMessage" [(ngModel)]="chatMessage"
       placeholder="Type a message" [disabled]="!ws.connected">
      <button class="msg_send_btn" type="button" (click)="sendMessage(chatMessage)"><span class="glyphicon glyphicon-send"></span></button>
    </div>
  </div>
</div>