.app-header {
    height: 40px;
    box-shadow: 1px 1px 1px 1px #ccc;
    .dropdown {
        .dropdown-toggle{
            color: #2f2f2f;
            background: #fff !important;
        }
        .dropdown-toggle:hover{
            background: #fff !important;
        }
        .dropdown-menu {
            top: 40px;
            right: 0;
            left: unset;
            margin-right: 2px; 
        }
    }
}