.app-header {
    height: 40px;
    background: #4d5f85;
    .dropdown {
        .dropdown-toggle{
            color: #fff;
            background: #4d5f85 !important;
        }
        .dropdown-toggle:hover{
            background: #4d5f85 !important;
        }
        .dropdown-menu {
            top: 40px;
            right: 0;
            left: unset;
            margin-right: 2px; 
        }
    }
}