.visitor-details {
    width: calc(100vw - 850px);
   .img{
      align : center;
      width: 100px; 
   }
   .label1 {
     width: 250px;

   } 
   .value {
       width: 300px;
       float: right;
   }
}