<div class="visitor-details">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Visitor Details</h4>
    </div>
    <div class="panel-body">
      <div class="box box-info">
        <div class="box-body">
          <div class="img">
            <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
              id="profile-image1" class="img-circle img-responsive">
          </div>
          <br>
        </div>
        <span>
          <h4 style="color:#00b1b1;">Prasad Shankar Huddedar </h4>
        </span>
        <span>
          <p>Aspirant</p>
        </span>
      </div>
      <div class="clearfix"></div>
      <hr style="margin:5px 0 5px 0;">

      <div>
        <span class="label1">First Name:</span>
        <span class="value">Prasad</span>
      </div>
      <div class="clearfix"></div>
      <div class="bot-border"></div>
      <div>
          <span class="label1">Last Name:</span>
          <span class="value">Kumar</span>
        </div> 
      <div class="clearfix"></div>
      <div class="bot-border"></div>

    </div>
  </div>
</div>