<div class="left-slidebar">
  <div class="container">
    <div class="row">
      <div class="left ">
          <ul>
              <a href="#">
                  <li class="item-menu" (click)="navigateTo('/')">
                      <span class="glyphicon glyphicon-home"></span> 
                      <span class="menu">Home</span>
                  </li>
              </a> 
              <a href="#" [routerLink]="['/skills']">
                  <li class="item-menu">
                      <span class="glyphicon glyphicon-book"></span> 
                      <span class="menu">Skills</span>
                  </li>
              </a>
              <a href="#">
                  <li class="item-menu">
                      <span class="glyphicon glyphicon-pencil"></span> 
                      <span class="menu">Agents</span>
                  </li>
              </a>    
              <a>
                  <li class="item-menu">
                      <span class="glyphicon glyphicon-list"></span> 
                      <span class="menu">Visitors</span>
                  </li>
              </a> 
              <a>
                  <li class="item-menu">
                      <span class="glyphicon glyphicon-envelope"></span> 
                      <span class="menu"> Liên Hệ</span>
                  </li>
              </a>
              <a>
                  <li class="item-menu">  
                      <span class="glyphicon glyphicon-credit-card"></span> 
                      <span class="menu">Ủng Hộ</span>
                  </li>
              </a> 
              <li class="item-menu"> 
                   <span class="glyphicon glyphicon-search"></span> 
                   <input class="t_search" type="text" placeholder="Tìm Kiếm">
              </li>
          </ul>
      </div> <!-- end left -->
      <!-- <div class="right">
          content
      </div> -->
     </div>
    </div>
</div>