.chat-requests {
    width: calc(100vw - 850px);
    background: #2f2f2f;
    overflow-y: auto;
    height: 100%;

}
.chat-request {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-right: 5px;
  background: #ddd;
}

.chat-request-title {
  display: inline-block; 
  padding: 5px; 
  width: 100px;
}

