<div class="agent-templates">
  <div class="title">Templates</div>
  <div class="templates">
    <ul class="list-group">
      <li class="list-group-item">List Template</li>
      <li class="list-group-item">Quick Replies Template</li>
      <li class="list-group-item">Button Template</li>
      <li class="list-group-item">Carousel Template</li>
      <li class="list-group-item">Image Tempalte</li>
      <li class="list-group-item">Audio Template</li>
      <li class="list-group-item">Video Template</li>
      <li class="list-group-item">Table Template</li>
    </ul>
  </div>
</div>